@media(min-width:320px){
    .container{
        width:100%;
    }
    .col{
        width: 100%;
    }
}

@media(min-width:760px){
    .container{
        width: 90%;
    }
    .col{
        width: 50% ;  
    }
}

@media(min-width:960px){
    .container{
        width: 85%;
    }
    .col{
        width: 33.33%;
    }
}