*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.container{
    /* width: 85%; */
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* .col{
    width: 33.33%;
} */
.card-img img{
    width: 100%;
}
.card-img{
    padding: 50px;
}
.card{
    text-align: center;
}
.card h3{
    font-size: 25px;
}
.card p{
    font-size: 15px;
    color: rgb(169, 170, 171);
}
.card span{
    font-size: 25px;
    font-weight: bold;
    color: rgb(208, 18, 18);
}
.title-row{
    text-align: center;
}
.title-row p{
    color: rgb(190, 190, 187);
    font-size: 14px;
}
.title-row h3{
    color: rgb(203, 27, 27);
    font-size: 30px;
}